@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-one: #15919b;
    --color-two: #09d1c7;

    --font: "Montserrat", sans-serif;
}

body {
    font-family: var(--font);
    color: var(--color-one);
}

.disable {
    display: none !important;
}

.unavailable {
    background-color: #09d1c7 !important;
}

.active {
    background-color: gainsboro !important;
    color: var(--color-one) !important;
    box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 9999;
}

.button {
    border: 1px solid var(--color-one);
    background-color: var(--color-one);
    color: white;
    border-radius: 5px;
}

.button:hover {
    border: 1px solid var(--color-one);
    background-color: white;
    color: var(--color-one);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.main-taskbar {
    width: 330px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gainsboro;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    padding: 8px;
    position: fixed;
    left: 0px;
    height: 100vh;
}

.main-taskbar .logo {
    background-color: var(--color-one);
    height: 50px;
    display: flex;
    align-items: center;
    min-height: 50px;
    border-radius: 8px;
}

.main-taskbar .logo img {
    width: 100%;
    border-radius: 8px;
}

.main-taskbar > .info {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
}

.main-taskbar > .function-taskbar {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.main-taskbar > .function-taskbar > div {
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 8px;
}

.main-taskbar > .function-taskbar p {
    margin: 0px;
    margin-left: 10px;
}

.main-taskbar > .function-taskbar > div:hover {
    background-color: gainsboro;
    cursor: pointer;
    transition: 0.3s;
}

.extension {
    box-sizing: border-box;
    width: calc(100% - 330px);
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-left: 15px;
    position: fixed;
    left: 330px;
    height: 100vh;
}

.extension > .top-taskbar {
    font-weight: bold;
    color: white;
    background-color: var(--color-one);
    margin-bottom: 8px;
    border-radius: 8px;
}

.extension > .top-taskbar > div {
    display: flex;
    height: 50px;
    border-radius: 8px;
}

.extension > .top-taskbar > div > div {
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
    border-radius: 8px;
}

.extension > .top-taskbar > div > div:hover {
    background-color: gainsboro;
    cursor: pointer;
    color: var(--color-one);
    transition: 0.3s;

}

.extension > .content {
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    border: 1px solid gainsboro;
    border-radius: 8px;
    height: calc(100% - 58px);
}

.extension > .content > div {
    box-sizing: border-box;
    height: 100%;
}

.extension > .content .header-list {
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid gainsboro;
    color: var(--color-one);
    box-sizing: border-box;
    height: 50px;
}

.extension > .content > .ban-bida-list p {
    width: calc(100% / 4);
    text-align: center;
}

.extension > .content > .ban-bida-list > .body-ban-bida-list {
    box-sizing: border-box;
    height: calc(100% - 50px);
    overflow: auto;
}