.extension .xem-danh-sach-ban-bida > div {
    width: calc(100% / 2);
}

.extension .xem-danh-sach-thu-ngan > div {
    width: calc(100% / 3);
}

.extension .xem-danh-sach-hoa-don > div {
    width: calc(100% / 2);
}

.extension .xem-danh-sach-mat-hang > div {
    width: calc(100% / 2);
}

.extension .xem-danh-sach-loai-ban > div {
    width: calc(100% / 2);
}

.extension .xem-danh-sach-cap-do-hoi-vien > div {
    width: calc(100% / 2);
}

.extension .xem-danh-sach-hoi-vien > div {
    width: 100%;
}

.extension .content .them-ban-bida {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.extension .content .them-ban-bida .danh-sach-loai-ban {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    box-sizing: border-box;
    height: calc(100% - 50px);
    align-items: start;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 20px;
}


.extension .content .them-ban-bida .loai-ban {
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.extension .content .them-ban-bida .loai-ban:hover {
    background-color: var(--color-one);
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.extension .content .them-ban-bida .loai-ban .ban-image > img {
    box-sizing: border-box;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.extension .content .them-ban-bida .loai-ban .thong-tin-loai-ban {
    display: flex;
    flex-direction: column;
}

.extension .content .them-ban-bida .loai-ban .thong-tin-loai-ban div {
    display: flex;
    padding-left: 20px;

}

.extension .content .them-ban-bida .loai-ban .thong-tin-loai-ban div p:first-child {
    margin-right: 10px;
    font-weight: bold;
}

.extension .content .them-ban-bida .loai-ban .thong-tin-loai-ban div:first-child p {
    margin-bottom: 0px;
}

.extension .content .them-ban-bida .xac-nhan-them-ban {
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.extension .content .them-ban-bida .xac-nhan-them-ban button {
    margin-left: 5px;
    box-sizing: border-box;
    width: 150px;
}