.extension .xem-danh-sach-ban-bida > div {
    width: calc(100% / 2);
}

.extension .xem-danh-sach-thu-ngan > div {
    width: calc(100% / 3);
}

.extension .xem-danh-sach-hoa-don > div {
    width: calc(100% / 2);
}

.extension .xem-danh-sach-mat-hang > div {
    width: calc(100% / 2);
}

.extension .xem-danh-sach-loai-ban > div {
    width: calc(100% / 2);
}

.extension .xem-danh-sach-cap-do-hoi-vien > div {
    width: calc(100% / 2);
}

.extension .xem-danh-sach-hoi-vien > div {
    width: 100%;
}

.extension .content .them-ban-bida {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.extension .content .them-ban-bida .danh-sach-loai-ban {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    box-sizing: border-box;
    height: calc(100% - 50px);
    align-items: start;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 20px;
}


.extension .content .them-ban-bida .loai-ban {
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.extension .content .them-ban-bida .loai-ban:hover {
    background-color: var(--color-one);
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.extension .content .them-ban-bida .loai-ban .ban-image > img {
    box-sizing: border-box;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.extension .content .them-ban-bida .loai-ban .thong-tin-loai-ban {
    display: flex;
    flex-direction: column;
}

.extension .content .them-ban-bida .loai-ban .thong-tin-loai-ban div {
    display: flex;
    padding-left: 20px;

}

.extension .content .them-ban-bida .loai-ban .thong-tin-loai-ban div p:first-child {
    margin-right: 10px;
    font-weight: bold;
}

.extension .content .them-ban-bida .loai-ban .thong-tin-loai-ban div:first-child p {
    margin-bottom: 0px;
}

.extension .content .them-ban-bida .xac-nhan-them-ban {
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.extension .content .them-ban-bida .xac-nhan-them-ban button {
    margin-left: 5px;
    box-sizing: border-box;
    width: 150px;
}

.extension > .content > .danh-sach-thu-ngan p {
    width: calc(100% / 5);
    text-align: center;
}

.extension > .content > .danh-sach-thu-ngan > .body-thu-ngan-list {
    box-sizing: border-box;
    height: calc(100% - 50px);
    overflow: auto;
}

.extension .body-thu-ngan-list > .thu-ngan {
    display: flex;
    border-bottom: 1px solid gainsboro;
}

.extension .body-thu-ngan-list > .thu-ngan:hover {
    background-color: gainsboro !important;
    color: var(--color-one);
    cursor: pointer;
    transition: 0.3s;
}

.extension .content .thong-tin-thu-ngan .xac-nhan-them-thu-ngan button {
    margin-left: 5px;
    box-sizing: border-box;
    width: 150px;
}

.extension .content .thong-tin-thu-ngan {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 700px;
    height: 500px;
    border-radius: 8px;
    position: absolute;
    left: calc(50% - 350px);
    top: 70px;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(220, 220, 220, 0.850);
}

.extension .content .thong-tin-thu-ngan .header-them-thu-ngan {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-one);
    margin: 0;
    text-align: center;
}

.extension .content .thong-tin-thu-ngan .thong-tin-them {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: calc(100% - 120px);
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.extension .content .thong-tin-thu-ngan .thong-tin-them div {
    display: flex;
}

.extension .content .thong-tin-thu-ngan .thong-tin-them div label {
    box-sizing: border-box;
    width: 170px;
    font-weight: bold;
    
}

.extension .content .thong-tin-thu-ngan .thong-tin-them div input {
    box-sizing: border-box;
    width: 410px;
    border-radius: 5px;
    border: 1px solid gray;
}

.extension .content .thong-tin-thu-ngan .thong-tin-them select {
    border-radius: 5px;
    border: 1px solid gray;
}

.extension .content .thong-tin-thu-ngan .xac-nhan-them-thu-ngan {
    display: flex;
    justify-content: flex-end;
    padding: 0px 50px;
}

.extension .content .tim-kiem {
    display: flex;
    flex-direction: column;
}

.extension .content .tim-kiem .search-box {
    display: flex;
    box-sizing: border-box;
    height: 50px;
    padding: 8px;
    padding-right: 20px;
    justify-content: flex-end;
    border-bottom: 1px solid gainsboro;
    background-color: gainsboro;
}

.extension .content .tim-kiem .search-box > input {
    box-sizing: border-box;
    width: 360px;
    border-radius: 50px;
    border: 1px solid white;
    outline: none;
    padding:0 10px;
    color: gray;
}

.extension .content .tim-kiem .search-box > input:focus {
    box-shadow: 0 0 10px 3px #15929b56;
    transition: 0.3s;
}

.extension .content .tim-kiem .search-box > button {
    box-sizing: border-box;
    width: 60px;
    border-radius: 50px;
    margin-left: 5px;
}

.extension .content .tim-kiem > div:last-child {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: calc(100% - 50px);
    overflow: auto;
}

.extension .content .tim-kiem > div:last-child p {
    box-sizing: border-box;
    width: calc(100% / 6);
    text-align: center;
}

.extension > .content > .tim-kiem .body-thu-ngan-list {
    box-sizing: border-box;
    height: calc(100% - 50px);
    overflow: auto;
}

.extension .content .tim-kiem-thu-ngan > div:last-child p {
    width: calc(100% / 5);
}

.extension .content .tim-kiem .search-box label {
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 7px;
}

.extension .content .danh-sach-mat-hang p {
    box-sizing: border-box;
    width: calc(100% / 3);
    text-align: center;
}

.extension .content > .them-mat-hang {
    height: 200px;
}

.extension .content .cap-nhat-mat-hang {
    height: 200px;
}

.extension .content .danh-sach-loai-ban p {
    box-sizing: border-box;
    width: calc(100% / 3);
    text-align: center;
}

.extension .content > .them-loai-ban {
    height: 200px;
}

.extension .content > .cap-nhat-loai-ban {
    height: 200px;
}