.main-taskbar > .info > div:first-child {
    display: flex;
    margin-bottom: 20px;
}

.main-taskbar > .info p {
    margin: 0px;
    margin-right: 10px;
}

.main-taskbar > .info > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.main-taskbar > .info > div > p:first-child {
    font-weight: bold;
}

.main-taskbar .logout {
    background-color: var(--color-one);
    border-radius: 5px;
    color: white;
    border: 1px solid var(--color-one);
}

.main-taskbar .logout:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--color-one);
    color: var(--color-one);
    transition: 0.3s;
}

.extension {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
}

.extension > .top-taskbar {
    font-weight: bold;
    color: white;
    background-color: var(--color-one);
}

.extension > .top-taskbar > div {
    display: flex;
    height: 50px;
}

.extension > .top-taskbar > div > div {
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
}

.extension > .top-taskbar > div > div:hover {
    background-color: gainsboro;
    cursor: pointer;
    color: var(--color-one);
    transition: 0.3s;
}

.extension .xem-danh-sach-ban-bida > div {
    width: calc(100% / 3);
}

.extension .xem-danh-sach-hoi-vien > div {
    width: calc(100% / 2);
}

.extension > .content {
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
}

.extension > .content .header-list {
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid gainsboro;
    color: var(--color-one);
}

.extension > .content > .ban-bida-list p {
    width: calc(100% / 4);
    text-align: center;
}

.extension .body-ban-bida-list > .ban-bida {
    display: flex;
    border-bottom: 1px solid gainsboro;
}

.extension .body-ban-bida-list > .ban-bida:hover {
    background-color: gainsboro !important;
    color: var(--color-one);
    cursor: pointer;
    transition: 0.3s;
}

.active {
    background-color: gainsboro !important;
    color: var(--color-one) !important;
}

.active-top-taskbar {
    background-color: gainsboro;
    color: var(--color-one);
}

.extension .bill-payment {
    color: black;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: calc(50% - 350px);
    margin-top: 20px;
    margin-bottom: 36px;
}

.extension .bill-payment .header-bill {
    font-weight: bold;
    text-align: center;
    color: var(--color-one);
}

.extension .content-bill {
    background-color: gainsboro;
    margin-bottom: 16px;
    border-radius: 5px;
}

.extension .content-bill > tbody > tr > td {
    padding: 10px;

}

.extension .content-bill > tbody > tr > td:first-child {
    font-weight: bold;
}

.extension .bill-payment .bill-options {
    display: flex;
    justify-content: flex-end;
}

.extension .bill-payment .bill-options button {
    width: 150px;
    margin-left: 5px;
    border: 1px solid var(--color-one);
    background-color: var(--color-one);
    border-radius: 5px;
    color: white;
}

.extension .bill-payment .bill-options button:hover {
    background-color: white;
    color: var(--color-one);
    cursor: pointer;
    transition: 0.3s;
}

.extension .bill-payment .mat-hang {
    display: flex;
}

.extension > .content > .bill-payment .danh-sach-hang {
    border-spacing: 0px;

}

.extension > .content > .bill-payment .danh-sach-hang th, td {
    padding-right: 30px;
    padding-bottom: 10px;
}

.extension > .content > .update-hoa-don {
    display: flex;
    margin-top: 30px;
}

.extension > .content .bill-info {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    width: calc(50% - 5px);
    border-radius: 5px;
    margin-left: 20px;
}

.extension > .content .bill-info > table > tbody > tr > td:first-child {
    font-weight: bold;
}

.extension > .content .bill-info > table > tbody > tr:nth-child(8) > td:first-child {
    display: flex;
} 

.extension > .content .bill-info > p {
    text-align: center;
}

.extension > .content .update-bill-box {
    display: flex;
    flex-direction: column;
    width: calc(50% - 5px);
    padding-left: 20px;
}

.extension > .content .bill-info > p {
    color: var(--color-one);
    font-weight: bold;
}

.extension .update-hoa-don .hoi-vien-option {
    display: flex;
    flex-direction: column;
}

.extension .update-hoa-don .hoi-vien-option > button {
    width: 100px;
    background-color: var(--color-one);
    border: 1px solid var(--color-one);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.extension .update-hoa-don .hoi-vien-option > button:hover {
    background-color: white;
    border: 1px solid var(--color-one);
    color: var(--color-one);
    cursor: pointer;
    transition: 0.3s;
}

.extension .update-hoa-don .hoi-vien-option > div > input{
    border-radius: 5px;
    border: 1px solid gainsboro;
    outline: none;
    width: 200px;
}

.extension .update-hoa-don .hoi-vien-option > div > label {
    font-weight: bold;
    margin-right: 20px;
    color: var(--color-one);
}

/*  */

.extension .update-hoa-don .update-bill-box .mat-hang-option {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid gainsboro;
}

.extension .update-hoa-don .update-bill-box .mat-hang-option > div:first-child {
    display: flex;
}

.extension .update-hoa-don .update-bill-box .mat-hang-option label {
    color: var(--color-one);
    font-weight: bold;
    margin-right: 10px;
}

.extension .update-hoa-don .update-bill-box .mat-hang-option select{
    width: 200px;
    margin-right: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gainsboro;
}

.extension .update-hoa-don .update-bill-box .mat-hang-option input {
    width: 100px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gainsboro;
}

.extension .update-hoa-don .update-bill-box .mat-hang-option div:last-child {
    margin-top: 10px;
    display: flex;
}

.extension .update-hoa-don .update-bill-box .mat-hang-option div:last-child > button {
    width: 100px;
    border: 1px solid var(--color-one);
    border-radius: 5px;
    background-color: var(--color-one);
    color: white;
    margin-right: 5px;
}

.extension .update-hoa-don .update-bill-box .mat-hang-option div:last-child > button:hover {
    background-color: white;
    color: var(--color-one);
    cursor: pointer;
    transition: 0.3s;
}

/* bill list css */
.extension > .content > .hoa-don-list > .body-bill-list {
    display: flex;
    flex-direction: column;
}

.extension > .content > .hoa-don-list > .body-bill-list > .bill {
    display: flex;
    border-bottom: 1px solid gainsboro;
}

.extension > .content > .hoa-don-list > .body-bill-list > .bill:hover {
    background-color: gainsboro !important;
    color: var(--color-one);
    cursor: pointer;
    transition: 0.3s;
}

.extension > .content > .hoa-don-list p {
    width: calc(100% / 6);
    text-align: center;
}

/* hoi vien list css */
.extension .content .hoi-vien-list p{
    width: calc(100% / 6);
    text-align: center;
}

.extension .content .hoi-vien-list .body-hoi-vien-list {
    display: flex;
    flex-direction: column;
}

.extension .content .hoi-vien-list .body-hoi-vien-list .hoi-vien {
    display: flex;
    border-bottom: 1px solid gainsboro;
}

.extension .content .hoi-vien-list .body-hoi-vien-list .hoi-vien:hover {
    background-color: gainsboro !important;
    color: var(--color-one);
    cursor: pointer;
    transition: 0.3s;
}

.extension .content .add-update-hoi-vien {
    display: flex;
    flex-direction: column;
    color: var(--color-one);
    background-color: gainsboro;
    width: 700px;
    margin-left: calc(50% - 350px);
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    border-radius: 5px;
}

.extension .content .add-update-hoi-vien p {
    font-weight: bold;
    text-align: center;
}

.extension .content .add-update-hoi-vien input {
    outline: none;
    border-radius: 5px;
    border: 1px solid gainsboro;
    width: 300px;
}

.extension .content .add-update-hoi-vien div:last-child {
    display: flex;
    justify-content: flex-end;
}

.extension .content .add-update-hoi-vien div:last-child button {
    width: 100px;
    border: 1px solid var(--color-one);
    border-radius: 5px;
    background-color: var(--color-one);
    margin-left: 5px;
    margin-top: 10px;
    color: white;
}

.extension .content .add-update-hoi-vien div:last-child button:hover {
    background-color: white;
    cursor: pointer;
    color: var(--color-one);
    transition: 0.3s;
}