body {
    display: flex;
    height: 100vh;
    color: var(--color-one);
}

.main-taskbar {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gainsboro;
}

.main-taskbar .logo {
    background-color: var(--color-one);
    height: 50px;
    display: flex;
    align-items: center;
    min-height: 50px;
}

.main-taskbar .logo img {
    width: 100%;
}

.main-taskbar > .info {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
}

.main-taskbar > .info > div:first-child {
    display: flex;
    margin-bottom: 20px;
}

.main-taskbar > .info p {
    margin: 0px;
    margin-right: 10px;
}

.main-taskbar > .info > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.main-taskbar > .info > div > p:first-child {
    font-weight: bold;
}

.main-taskbar .logout {
    background-color: var(--color-one);
    border: none;
    border-radius: 5px;
    color: white;
    border: 1px solid var(--color-one);
}

.main-taskbar .logout:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--color-one);
    color: var(--color-one);
}

.main-taskbar > .function-taskbar {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.main-taskbar > .function-taskbar > div {
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
}

.main-taskbar > .function-taskbar p {
    margin: 0px;
    margin-left: 10px;
}

.main-taskbar > .function-taskbar > div:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.extension {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
}

.extension > .top-taskbar {
    font-weight: bold;
    color: white;
    background-color: var(--color-one);
}

.extension > .top-taskbar > div {
    display: flex;
    height: 50px;
}

.extension > .top-taskbar > div > div {
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
}

.extension > .top-taskbar > div > div:hover {
    background-color: gainsboro;
    cursor: pointer;
    color: var(--color-one);
}

.extension .xem-danh-sach-ban-bida > div {
    width: calc(100% / 3);
}

.extension .xem-danh-sach-hoi-vien > div {
    width: calc(100% / 2);
}

.extension > .content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.extension .header-ban-bida-list {
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid gainsboro;
}

.extension > .content > .ban-bida-list p {
    width: calc(100% / 4);
    text-align: center;
}

.extension .body-ban-bida-list > .ban-bida {
    display: flex;
    border-bottom: 1px solid gainsboro;
    color: black;
}

.extension .body-ban-bida-list > .ban-bida:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.active {
    background-color: gainsboro;
}

.active-top-taskbar {
    background-color: gainsboro;
    color: var(--color-one);
}

/* .extension .content .bill {
    color: black;
    background-color: aquamarine;
}

.extension .bill > div {
    display: flex;
}

.extension .bill > div > p:first-child {
    font-weight: bold;
    margin-left: 50px;
    margin-right: 30px;
} */

.extension .bill {
    color: black;
    display: flex;
    flex-direction: column;
    width: 700px;
    position: absolute;
    left: calc(50% - 350px);
    top: 20px;
}

.extension .bill .header-bill {
    font-weight: bold;
    text-align: center;
    color: var(--color-one);
}

.extension .content-bill {
    background-color: gainsboro;
    margin-bottom: 16px;
    border-radius: 5px;
}

.extension .content-bill > tbody > tr > td {
    padding: 10px;

}

.extension .content-bill > tbody > tr > td:first-child {
    font-weight: bold;
}

.extension .bill .bill-options {
    display: flex;
    justify-content: flex-end;
}

.extension .bill .bill-options button {
    width: 150px;
    margin-left: 5px;
    border: 1px solid var(--color-one);
    background-color: var(--color-one);
    border-radius: 5px;
    color: white;
}

.extension .bill .bill-options button:hover {
    background-color: white;
    color: var(--color-one);
    cursor: pointer;
}